<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="card-columns">
  <% @products.each do |product| %>
    <div class="card">
      <%= image_tag product.picture_url, style: 'width: 225px; height: 225px;', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p><%= product.category %></p>
        <label>Quantity:</label> <%= product.quantity %><br>
        <label>Price:</label> <%= product.price %><br> <br>
        <%= link_to 'Show', product, class: 'btn btn-primary' %>
        <%= link_to 'Add to cart', '#',  onclick: "addProductToCart(#{product.id})", class: 'btn btn-secondary' %>
      </div>
    </div>
  <% end %>
</div>
