<p id="notice"><%= notice %></p>

<div class="card">
  <img class="card-img-top" style='max-width: 225px' src=<%= @product.picture_url %> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @product.name %></h5>
    <p class="card-text"><%= @product.description %> </p>
    <p>
      <label>Category:</label>
      <%= @product.category %>
    </p>
    <p>
      <label>Quantity:</label>
      <%= @product.quantity %>
    </p>
    <p>
      <label>Price:</label>
      <%= @product.price %>
    </p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to 'Back', :back, class: 'btn btn-primary' %>
    </div>
  </div>
</div>